<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class="row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>ユーザー一覧</h3>
			</div>
		</div>
		<div class= "row justify-content-center">
			<div class="col-3">
				<%= search_form_for @search, url: users_search_path do |f| %>
					<%= f.label :name %><br>
					<%= f.search_field :name_cont, style: "margin-bottom: 10px;" %><br>

					<%= f.label :sex %><br>
					<%= f.radio_button :sex_eq, 0 %>答えない
					<%= f.radio_button :sex_eq, 1 %>男性
					<%= f.radio_button :sex_eq, 2 %>女性
					<%= f.radio_button :sex_eq, 9 %>その他
					<br>
					<%= f.submit "検索", style: "margin-top: 10px;" %>
				<% end %>
			</div>
			<div class="col-9">
				<div class="row">
					<% @users.each do |user| %>
						<div class="col-4 mb-3 py-2 mx-5 text-center user-index">
							<%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, :fill, 63, 63, format: "jpeg", fallback: "no-image.jpg", class: "rounded-circle" %><br>
								<%= user.name %><br>
							<% end %>
							<%= user.sex_i18n %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<%= render 'layouts/new-button' %>
	</div>
</div>
