<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class="row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>ユーザー一覧</h3>
			</div>
		</div>
		<div class= "row justify-content-center">
			<div class="col-9">
				<table class="table">
					<thead style="background-color: #f5f5f5;">
						<th>名前</th>
						<th>性別</th>
						<th></th>
					</thead>
					<% @users.each do |user| %>
						<% unless user.is_deleted %>
						<tbody>
							<td>
								<%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no-image.jpg", size:'40x40', class: "rounded-circle" %>
								<%= user.name %>
							</td>
							<td><%= user.sex_i18n %></td>
							<td>
								<%=link_to "詳細", user_path(user), class: "btn btn-primary" %>
							</td>
						</tbody>
						<% end %>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>