<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>マイページ</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8 border mb-3">
				<div class="row border-bottom pl-2 pt-2" style="background-color: #f5f5f5;">
					<h5 class="pr-3" style="font-weight: bold;"><i class="fas fa-cloud-sun"></i> 天気</h5>
					<small class="pt-2">(屋外でトレーニングする際の参考にどうぞ)</small>
				</div>
				<div class="row pt-2">
					<div class="col-auto">
					    <span>場所 :</span>
					    <span id="place"></span>
					</div>
					<div class="col-auto">
					    <span>最高気温 :</span>
					    <span id="temp_max"></span>
					    <span> ℃</span>
					</div>
					<div class="col-auto">
					    <span>最低気温 :</span>
					    <span id="temp_min"></span>
					    <span> ℃</span>
					</div>
					<div class="col-auto">
					    <span>湿度 :</span>
					    <span id="humidity"></span>
					    <span> %</span>
					</div>
					<div class="col-auto">
					    <span>風速 :</span>
					    <span id="speed"></span>
					    <span> m/s</span>
					</div>
					<div class="col-auto">
					    <span>天気 :</span>
					    <span id="weather"></span>
					    <span id="icon"><img id="img"></span>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-auto">
					    <label>都市名 :</label>
					</div>
					<div class="col-auto">
					    <input id="cityname" type="text" size="14" maxlength="14" placeholder="Tokyo">
					    <button id="btn" class="btn btn-secondary btn-sm px-2" ><i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center no-gutters">
			<div class="offset-5 col-3 text-center">
				<table class="table border">
					<thead style="background-color: #f5f5f5;">
						<th class="border-right">合計ワークアウト数</th>
						<th>合計時間</th>
					</thead>
					<tbody>
						  <td class="border-right"><%= @work_outs.count %></td>
						  <td><%= @work_outs.sum(:time) %>分</td>
					</tbody>
	            </table>
			</div>
		</div>
		<%= render 'layouts/profile', user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %>
		<div class="row justify-content-center">
			<div class="col-8 mt-5">
				<%= month_calendar events: @work_outs do |date, work_outs| %>
				  	<%= date.day %><br>
					<% work_outs.each do |work_out| %>
						<small><%=link_to work_out.muscle_group_i18n, work_out_path(work_out) %></small><br>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
