<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>マイページ</h3>
			</div>
		</div>
		<%= render 'layouts/profile', user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry %>
		<div class="row justify-content-center">
			<div class="col-8 mt-5">
				<%= month_calendar events: @work_outs do |date, work_outs| %>
				  	<%= date.day %><br>
					<% work_outs.each do |work_out| %>
						<small><%=link_to work_out.muscle_group_i18n, work_out_path(work_out) %></small><br>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>


