<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 admin-title">
				<h3>ユーザー情報編集</h3>
			</div>
		</div>
		<div class= "row justify-content-center">
			<%=form_for(@user, url: admins_user_path(@user)) do |f| %>
				<div class="col mt-3">
					<%= f.label :profile_image, "プロフィール画像" %>
					<%= f.attachment_field :profile_image, class: "profile_image" %>
				</div>
				<div class="col text-center mt-3">
					<%= f.label :name, "名前" %>
					<%= f.text_field :name, autofocus: true, autocomplete: "name" %>
				</div>
				<div class="col text-center mt-3">
					<%= f.label :sex, "性別" %>
					<%= f.select :sex, User.sexes.keys.map {|k| [I18n.t("enums.user.sex.#{k}"), k]} %>
				</div>
				<div class="col text-center mt-3">
					<%= f.label :email, "メールアドレス" %>
					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div>
				<div class="col text-center mt-3">
			    	<%= f.submit "編集内容を保存する", class: "btn btn-primary btn-sm mr-2" %>
			  	</div>
			<% end %>
		</div>
	</div>
</div>