<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>投稿一覧</h3>
			</div>
		</div>
		<div class= "row">
			<div class="col-auto ml-1 mt-2">
				<%= form_tag(work_outs_search_path, :method => 'get') do %>
					<%= select_tag :search_target, options_for_select([["腹筋＆コア","abs_core"],["腕＆肩","arms_shoulders"],["大臀筋＆脚","gmax_legs"]]), class: "mr-3" %>
					<%= submit_tag '検索' %>
				<% end %>
			</div>
		</div>
		<%= render 'work_outs/lists', work_outs: @work_outs %>
		<div class="row">
			<div class="mx-auto mb-3">
				<% if !params[:tag_name] %>
					<%= paginate @work_outs %>
				<% end %>
			</div>
		</div>
		<%= render 'layouts/new-button' %>
	</div>
</div>

