<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class="left-button ml-1 mt-2">
			<%= link_to "ユーザー一覧に戻る", users_path, style:"color: black;" %>
		</div>
		<div class="row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>メッセージ</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="chats col-8 frame-notification">
				<div class="chat">
					<% if @messages.present? %>
						<% @messages.each do |message| %>
							<div class="row balloon">
								<% if current_user.name == message.user.name %>
									<div class="col-12 text-right">
										<div class="chatting">
											<div class="say">
												<%= message.content %>
											</div>
											<br>
											<small><%= message.created_at.strftime("%Y-%m-%d %H:%M")%></small>
										</div>
									</div>
								<% else %>
									<div class="col-2 text-right">
										<div class="face-icon">
											<%= attachment_image_tag message.user, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no-image.jpg", size: '40x40', class: "rounded-circle" %><br>
											<small><%= message.user.name %></small>
										</div>
									</div>
									<div class="col-10 text-left">
											<div class="says">
												<%= message.content %>
											</div>
											<br>
											<small><%= message.created_at.strftime("%Y-%m-%d %H:%M")%></small>
									</div>
								<% end %>
							</div>
						<% end %>
					<% end %>
				</div>
				<div class="posts mt-3 text-center">
					<%= form_for @message do |f| %>
						<%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
						<%= f.hidden_field :room_id, value: @room.id %>
						<%= button_tag type: 'submit', class: "btn btn-secondary btn-sm" do %>
                			<i class="fas fa-paper-plane"></i>
                		<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
