<nav class="navbar navbar-dark navbar-expand-md" style="background-color: #a9a9a9;">
  <a class="navbar-brand">
    <%= image_tag 'logo.png', :size =>'56x56', class: "logo rounded-circle" %>
  </a>
  <button class="navbar-toggler" type="button"
    data-toggle="collapse"
    data-target="#responsiveMenu"
    aria-controls="responsiveMenu"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="responsiveMenu">
    <ul class="navbar-nav text-center">
        <li class="nav-item nav-link">
          <%= link_to "グラフ", admins_top_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ユーザー一覧", admins_users_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ランキング", admins_work_outs_path %>
        </li>
        <li class="nav-item nav-link">
        </li>
        <li class="nav-item nav-link">
        </li>
        <li class="nav-item nav-link">
        </li>
        <li class="nav-item nav-link">
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
    </ul>
  </div>
</nav>
