<!--======== Header ========-->
<header>
  <div class="wrap">
      <div class= "container-fluid no-gutters">
        <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#f4a460;">
          <a class="navbar-brand">
            <%= image_tag 'logo.png', :size =>'56x56', class: "logo rounded-circle" %>
          </a>
          <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#responsiveMenu"
            aria-controls="responsiveMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="responsiveMenu">
            <ul class="navbar-nav text-center">
              <% if user_signed_in? %>
                <li class="nav-item nav-link">
                  <%= link_to "投稿一覧", work_outs_path %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "友達の投稿", work_outs_following_path %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "マイページ", user_path(current_user) %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "新規投稿", new_work_out_path %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "お問い合わせ", contacts_new_path %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="nav-item nav-link">
                  <%= link_to "Contact", contacts_new_path %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "Sign up", new_user_registration_path %>
                </li>
                <li class="nav-item nav-link">
                  <%= link_to "Login", new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
  </div>
</header>
