<!--プロフィール-->
<div class= "row justify-content-center">
	<!--ユーザー情報-->
	<div class="col-md-8 border">
		<div class="row  border-bottom" style="background-color: #f5f5f5;">
			<div class="col-4 text-center">
				<%= attachment_image_tag user, :profile_image, :fill, 63, 63, format: "jpeg", fallback: "no-image.jpg", class: "rounded-circle" %>
				<%= user.name %>
			</div>
			<!--ログインが自分か他人か-->
			<div class="col-4 text-center mt-4">
				<% if user == current_user %>
					<%= link_to edit_user_path(current_user) do %>
						プロフィール編集 <i class="fas fa-edit"></i>
					<% end %>
				<% elsif user != current_user %>
					<span id= "follow-button_#{user.id}">
						<%= render 'users/follow-button', user: user %>
					</span>
				<% end %>
			</div>
			<div class="col-4 text-center mt-4">
				<% unless user.id == current_user.id %>
					<% if current_user.followed_by?(user) && user.followed_by?(current_user)  %>
						<% if @isRoom == true %>
							<%= link_to room_path(@roomId) do %>
								メッセージ <i class="far fa-envelope"></i>
							<% end %>
						<% else %>
							<%= form_for @room do |f| %>
								<%= fields_for @entry do |e| %>
									<%= e.hidden_field :user_id, value: user.id %>
								<% end %>
								<%= button_tag type: 'submit', class: "btn btn-primary btn-sm" do %>
									チャットを始める <i class="far fa-envelope"></i>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row my-3">
			<div class="col text-center">
				フォロワー<br>
				<span id="follower-count_#{user.id}">
					<%= render 'users/follower-count', user: user %>
				</span>
			</div>
			<div class="col text-center">
				フォロー中<br>
				<span id="following-count_#{user.id}">
					<%= render 'users/following-count', user: user %>
				</span>
			</div>
			<div class="col text-center">
				いいねした投稿<br>
				<span id="favorite-count_#{user.id}">
					<%= render 'users/favorite-count', user: user %>
				</span>
			</div>
		</div>
	</div>
</div>