<nav class="navbar navbar-dark navbar-expand-md" style="background-color: #f4a460;">
  <a class="navbar-brand">
    <%= image_tag 'logo.png', :size =>'56x56', class: "logo rounded-circle" %>
  </a>
  <button class="navbar-toggler" type="button"
    data-toggle="collapse"
    data-target="#responsiveMenu"
    aria-controls="responsiveMenu"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="responsiveMenu">
    <ul class="navbar-nav text-center">
      <% if user_signed_in? %>
        <li class="nav-item nav-link">
          <%= link_to "投稿一覧", work_outs_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "友達の投稿", work_outs_following_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "マイページ", user_path(current_user) %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "新規投稿", new_work_out_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "お問い合わせ", contacts_new_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ユーザー一覧", users_path %>
        </li>
        <% if unchecked_notifications.any? %>
          <i class="fa fa-circle" style="color: gold;"></i>
        <% end %>
        <li class="nav-item nav-link">
          <%= link_to "通知", notifications_path %>
        <li class="nav-item nav-link">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item nav-link">
          <%= link_to "お問い合わせ", contacts_new_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to '管理者ログイン', admins_guest_sign_in_path, method: :post %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
